@charset "UTF-8";

/*Geral*/
:root {
    --cor-de-fundo: #D9D0C7;
    --cor-do-header: #5e1a31;
    --cor-da-fonte: #0D0D0D;
    --cor-Nav-N-Header-text: rgb(243, 145, 162);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}

body {
    background-color: var(--cor-de-fundo);
}

a{
    text-decoration: none;
    color: var(--cor-da-fonte);
}

img {
    width: 25vw;
    height: 20vw;
    border: 1px solid black;
}

/*Menu*/
header, footer {
    background-color: var(--cor-do-header);
    color: var(--cor-Nav-N-Header-text);
}

nav {
    padding: 10px;
    background-color: var(--cor-Nav-N-Header-text);
    color: var(--cor-da-fonte);
}

nav a {
    padding: 10px;
}

nav a:hover {
    background-color: var(--cor-do-header);
    color: var(--cor-Nav-N-Header-text);
    font-size: 20px;
}

/*Página principal*/
article {
    display: grid;
    grid-template-rows: 1fr 25vw 1fr;
    margin-top: 25px;
}

aside {
    padding: 50px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.produto {
    padding: 20px;
}

.produto:hover {
    padding: 40px;
    
}


#main2{
    grid-template-columns: 1fr 1fr;
}



/*Rodapé*/
footer{
    padding: 20px;
}
